# ==========================================
# 1. BỎ QUA RÁC BIÊN DỊCH CỦA KEILC (MDK-ARM)
# ==========================================
STM32_BareMetal_Test/Objects/
STM32_BareMetal_Test/Listings/
STM32_BareMetal_Test/DebugConfig/
*.o
*.d
*.crf
*.map
*.axf
*.htm
*.lnp
*.sct
*.dep
*.build_log.htm
*.iex

# ==========================================
# 2. BỎ QUA FILE CẤU HÌNH CÁ NHÂN & DEBUG
# ==========================================
*.uvguix.*
*.uvoptx
*.scvd
JLinkLog.txt
# Bỏ qua các file backup của thư viện RTE do KeilC sinh ra
*.base@*
# Bỏ qua thư mục "RTE\_Target_1\RTE_Components.h"
# Run time environment
# Khi nào đổi chip(e.g: STM32F4 thì mới cần giữ lại)
RTE/    
# ==========================================
# 3. BỎ QUA CẤU HÌNH CỦA EDITOR KHÁC
# ==========================================
.vscode/
.codemap/